/* Add CSS Styling */

.odd {
    background-color: rgb(255, 167, 161);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#two {
    color: rgb(0, 14, 214);
    font-size: 36px;
}

#four {
    background-color: rgb(113, 227, 113);
    font-weight: bold;
}