/* Add CSS Styling */

.buttonone,
.buttontwo {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
    border-color: grey;
    padding: 3pt;
}

.buttonone {
    background-color: black;
    color: white;
}

.buttontwo {
    background-color: yellow;
}